.list {
    align-items: center;
    color: red;
    display: flex;
    border-bottom: 1px solid grey;
    padding: 1rem 0 1rem 0;
}

.image {
    width: 20px;
    height: 20px;
}

.list {
    display: flex;
    align-items: center;
    gap: 5px;
}

a:link {
    text-decoration: none;
}

span {
    color: black
}

.green {
    color: green;
    font-weight: 500;
}

.red {
    color: red;
    font-weight: 500;
}

.yellow{
  background-color: yellow;
}

.align-items-center {
    gap: 20px;
    font-size: 2rem;
}

.justify-content-center {
    gap: 30px;
    font: 1rem;
    font-size: 1.5rem;
}

.flex-column {
    gap: 20px;
}

.marq span:nth-of-type(2n) {
    color: green;
  }

input{box-sizing:border-box}

/* 
    Code for milestone 4 

    .marq-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }

  
  .marq {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: marq 300s linear infinite;
  } */
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }